apiVersion: apps/v1
kind: Deployment
metadata:
  name: springbootapi-deployment
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: springbootapi
  template:
    metadata:
      labels:
        app: springbootapi
    spec:
    containers:
        - name: springbootapi
          image: miixo22/springbootapi:latest
          ports:
            - containerPort: 8081
          envFrom:
            - configMapRef:
                name: springbootapi-config
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 10
